body {
  font-family: 'Simonetta', sans-serif;
  margin: 0;
}

.container {
  max-width: 992px;
  margin: auto;
}

#menu {
  list-style-type: none;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 5px;
  padding: 0;
}

@media (min-width: 992px) {
  #menu {
    font-size: 22px;
  }
}

#menu li {
  display: inline-block;
}

#menu a {
  color: black;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}

#menu .selected {
  border-bottom: solid 3px maroon;
}

h1#title {
  font-size: 28px;
}

h1#title > div {
  font-size: 18px;
}

main {
  padding: 20px 0 0 0;
}

@media (min-width: 992px) {
  main.cols {
    display: flex;
  }

  main > div {
    margin-right: 20px;
    margin-bottom: 20px;
  }

}

h3 {
  margin-top: 0;
}

@media (min-width: 992px) {
  .middle {
    margin: 0 20px;
  }
}


.contact-me a {
  display: inline-block;
  margin-right: 10px;
  color: black;
}

.address-links a {
  color: black;
}

img {
  border-radius: 5px;
}

.message {
  margin-bottom: 40px;
  margin-left: 15%;
}

.message.success {
  color: darkgreen;
}

.message.failure {
  color: maroon;
}

#fading-quotes-parent {
  position: relative;
}

#fading-quotes {
  display: none;
  margin: 0;
  padding: 0;
}

#fading-quotes li {
  list-style-type: none;
  animation-name: quote;
  animation-duration: 30s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  position: absolute;
  width: auto;
  text-shadow: 1px 1px 1px white;
}

#fading-quotes li:nth-child(1) {
  top: 50px;
  left: 50px;
}

#fading-quotes li:nth-child(2) {
  bottom: 50px;
  left: 200px;
  animation-delay: 6s;
}

#fading-quotes li:nth-child(3) {
  bottom: 50px;
  left: 300px;
  animation-delay: 12s;
}

#fading-quotes li:nth-child(4) {
  top: 50px;
  right: 200px;
  animation-delay: 18s;
}

#fading-quotes li:nth-child(5) {
  top: 150px;
  right: 200px;
  animation-delay: 24s;
}

@keyframes quote {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  20% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }

  21% {
    transform: scale(0, 0);
  }

  to {
    transform: scale(0, 0);
  }
}

@media (min-width: 992px) {
  #fading-quotes {
    display: block;
  }
}
