body {
  font-family: 'Simonetta', sans-serif;
  margin: 0;
}

.container {
  max-width: 992px;
  margin: auto;
}

#menu {
  list-style-type: none;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  margin: 5px;
  padding: 0;
}

@media (min-width: 992px) {
  #menu {
    font-size: 22px;
  }
}

#menu li {
  display: inline-block;
}

#menu a {
  color: black;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}

#menu .selected {
  border-bottom: solid 3px maroon;
}

h1#title {
  font-size: 28px;
}

h1#title > div {
  font-size: 18px;
}

main {
  padding: 20px 0 0 0;
}

@media (min-width: 992px) {
  main.cols {
    display: flex;
  }

  main > div {
    margin-right: 20px;
    margin-bottom: 20px;
  }

}

h3 {
  margin-top: 0;
}

@media (min-width: 992px) {
  .middle {
    margin: 0 20px;
  }
}


.contact-me a {
  display: inline-block;
  margin-right: 10px;
  color: black;
}

.address-links a {
  color: black;
}

img {
  border-radius: 5px;
}

.message {
  margin-top: 20px;
  margin-left: 20%;
}

.message.success {
  color: darkgreen;
}

.message.failure {
  color: maroon;
}
